{% extends "base.html" %}

{% block content %}
    <p align="right" style="color:#000000; font-size:17px">Вы вошли в систему как: {{ current_user.username }}</p>
    <p align="right"><a href="{{ url_for('logout') }}">Выйти</a></p>
    <p align="center" style="color:#000000; font-size:28px">Рекомендательная система режимов термообработки в ФЦ АО «ПНТЗ»</p>
    <form action="/" method="POST" enctype="multipart/form-data">
        <center>
            <input type="file" name="file" id="file_id">
            <button type="submit">Рассчитать</button>
            <p>
                <input type="radio" name="options" id="option1" value="predict"> Прогноз свойств </input><br>
                <input type="radio" name="options" id="option2" value="optimizer"> Оптимизатор </input><br>
            </p>
        </center>
    </form>
    {% if args["method"] == "POST" %}
        <center>
            {% if args["error1"] %}
                <p align="center" style="color:#000000; font-size:16px">{{args["error1"]}}</p>
            {% elif args["error2"]%}
                <p align="center" style="color:#000000; font-size:16px">{{args["error2"]}}</p>
            {% else %}
                <p align="center" style="color:#000000; font-size:16px">Данные расcчитаны</p>
                {% if args["error3"] %}
                    <p align="center" style="color:#000000; font-size:16px">{{args["error3"]}}</p>
                {% endif%}
                <form action="/downloadExcelFile">
                    <button type="submit">Сохранить файл</button>
                </form>
            {% endif%}
        </center>
    {% endif%}
{% endblock %}